<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <iframe width="560" height="315" src="https://www.videoindexer.ai/embed/player/ac89c9b8-f94c-472b-a96d-fb58f7653db2/2e6243463f/?locale=pt" 
      frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-6">
      <iframe width="580" height="780" src="https://www.videoindexer.ai/embed/insights/ac89c9b8-f94c-472b-a96d-fb58f7653db2/2e6243463f/?locale=pt" 
      frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


